<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated odata -->
      <package
            uri="http://odata.org/edm/1.0.0"
            class="edm.EdmPackage"
            genModel="models/odata.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap:/ODATA_LIB/"
            target="platform:/plugin/som.odata.metamodel/">
      </mapping>
   </extension>

</plugin>
