<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated eermm -->
      <package
            uri="eer"
            class="eer.EerPackage"
            genModel="model/eermm.genmodel"/>
   </extension>

</plugin>
