<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="som.odata.generator.contribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               icon="icons/OData-logo.png"
               id="som.odata.generator.menu1"
               label="ODada"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="som.odata.generator.popup.actions.GenerateODataAction"
               enablesFor="1"
               id="som.odata.generator.newAction"
               label="Generate OData model from ER"
               menubarPath="som.odata.generator.menu1/group1">
         </action>
         <action
               class="som.odata.generator.popup.actions.AcceleoGenerateSqlAction"
               enablesFor="1"
               id="som.odata.generator.generateSQL"
               label="Generate SQL from OData"
               menubarPath="som.odata.generator.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
