<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated odata -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edm.presentation.EdmModelWizardID"
            name="%_UI_EdmModelWizard_label"
            class="edm.presentation.EdmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EdmModelFile.gif">
         <description>%_UI_EdmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated odata -->
      <editor
            id="edm.presentation.EdmEditorID"
            name="%_UI_EdmEditor_label"
            icon="icons/full/obj16/EdmModelFile.gif"
            extensions="edm"
            class="edm.presentation.EdmEditor"
            contributorClass="edm.presentation.EdmActionBarContributor">
      </editor>
   </extension>

</plugin>
